DRIVER=~httpx+~websockets
LOCALSTORE_CACHE_DIR=
LOCALSTORE_DATA_DIR=
LOCALSTORE_CONFIG_DIR=

# 基础配置
HOST=127.0.0.1
PORT=8080
NICKNAME=["bronya_bot"]
COMMAND_START=["/", ""]

# OneBot V11 配置
ONEBOT_ACCESS_TOKEN=""
ONEBOT_WS_URLS=["ws://127.0.0.1:3001"]